body{
    margin: 0 auto;
    background-color:white;

    font-family: 'Noto Serif', serif;

    color: #333333; /* dark gray not black */

    max-width: 800px;
    padding: 30px;
    font-size: 18px;
}

p   {
    line-height: 150%;
    max-width: 960px;
    font-weight: 400;
    color: #333333
}


h1, h2, h3, h4 {
    font-weight: 400;
}

h2, h3, h4, h5, p {
    margin-bottom: 25px;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    font-size:300%;
    padding: 0px;
    font-variant:small-caps;
}

h2 {
    font-size:150%
}

h3 {
    font-size:120%
}
h4 {
    font-size:100%
    font-variant:small-caps;

}
h5 {
    font-size:80%
    font-weight: 100;
}

h6 {
    font-size:80%
    font-weight: 100;
    color:red;
    font-variant:small-caps;
}
a {
    color: grey;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: blink;
    color: green;
}
a:visited {
    color: black;
}
/*
ul, ol {
    padding: 0;
    margin: 0px 0px 0px 50px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

li {
     line-height:150%    
}
li ul, li ul {
    margin-left: 24px;
}
*/

ul > li::before {
    margin-top: 0.25em;
    content: '*';
}

ul > li::before, ol > li::before {
    position: absolute;
    width: 1.5em;
    margin-left: -2em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: right;
    color: #000;
}

ul {
    list-style: none;
}

pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    font-family: monospace;
    line-height: 1.5;
    font-size: 15px;
    overflow: scroll;
    white-space: pre;
}
aside {
    display: block;
    float: right;
    width: 390px;
}
blockquote {
    border-left:.5em solid #eee;
    padding: 0 1em;
    margin-left:0;
    max-width: 476px;
}
blockquote  cite {
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    color: #666;
    max-width: 460px;
}
hr {
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}
